# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# These owners will be the default owners for everything
*             @apacheplayground/ronfontebo

# Apacheplayground must review any changes to GitHub actions
.github/*     @apacheplayground/ronfontebo

# Apacheplayground must review any changes to standard context definition,
# but some changes can be rubber-stamped.
**/*.tf       @apacheplayground/ronfontebo
README.md     @apacheplayground/ronfontebo  # @cloudposse/contributors @cloudposse/approvers

# Apacheplayground Admins must review all changes to CODEOWNERS
.github/CODEOWNERS  @apacheplayground/ronfontebo